<!-- Navbar -->
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% block navbar %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light mb-4">
  <div class="container">
    <a class="navbar-brand" href=""
      ><img
        id="logo"
        src="/img/ic.png"
        alt="Logo"
        draggable="false"
        height="40"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="000navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/questionnaire">Accueil</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link mx-2" href="#!">Se Connecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
<!-- Navbar -->