<form method="post" action="{{ path('app_questionnaire_delete', {'questionnaireid': questionnaire.questionnaireid}) }}" onsubmit="return confirm('Etes vous sur de supprimer ce questionnaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Delete' ~ questionnaire.questionnaireid) }}">
    <button class="btn btn-danger">Supprimer le Questionnaire</button>
</form>
